*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(270, 20%, 96%);
}
.background-accent{
    width: 50%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0 0 195px 0;
    background: linear-gradient(45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}
#wrapper{
    padding: 70px 20px;
}
.iphone{
    border: 10px solid white;
    border-radius: 30px;
    margin: 0 auto 30px;
    overflow: hidden;
    width: 270px;
    position: relative;
    background-color: hsl(270, 20%, 96%);
    box-shadow: 1px 10px 20px -10px #a3a3a3;;
}
.notch{
    /* border: 2px solid black; */
    width: 100px;
    height: 35px;
    border-radius: 40px 40px;
    position: absolute;
    top: -18px;
    left: 30%;
    z-index: 1;
    background-color: white;
}
header{
    /* border: 2px solid black; */
    width: 100%;
    height: 70px;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(90deg, hsl(264, 100%, 61%),hsl(276, 100%, 81%));
    position: relative;
}
.content{
    display: flex;
    position: absolute;
    bottom: 9px;  
}
header img{
    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50% 50%;
    overflow: hidden;
    margin: 0 10px;  
}
.name{
    padding-top: 1px;
}
.fa-chevron-left{
    padding-top: 5px;
    margin-left: 15px;
    color: white;
}
.content h6{
    color: hsl(270, 20%, 96%);
    line-height: 15px;
    letter-spacing: .03em;
    font-size: .7em;
}
.content p{
    color: hsl(276, 100%, 81%);
    font-size: .5em;
    letter-spacing: .03em;
    width: 100%;
}
.fa-ellipsis-v{
    color: white;
    padding-top: 5px;
    padding-left: 80px;
}
.inbox{
    padding: 10px;
}
.recieved{
    /* border: 1px solid black; */
    font-size: .55em;
    width: 60%;
    margin-bottom: 10px;
    color: hsl(276, 55%, 52%);
    background-color: hsla(276, 55%, 52%, 0.1);
    padding: 10px;
    border-radius: 10px 10px 10px 5px;
}
.dogs{
    float: right;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.dogs img{
    width: 30%;
    height: 30%;
    border-radius: 15px;
    margin-left: 5px;
}
.clearfix{
    overflow: auto;
}
.sent{
    /* border: 1px solid black; */
    width: 60%;
    float: right;
}
.sent p{
    float: right;
    font-size: .55em;
    margin: 5px 0;
    background-color: white;
    color: hsl(271, 15%, 43%);
    padding: 7px;
    border-radius: 10px 10px 5px 10px;
}
.walk{
    font-size: .55em;
    background: linear-gradient(90deg, hsl(276, 100%, 81%), hsl(264, 100%, 61%));
    border-radius: 10px 10px 10px 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 70%;
    overflow: auto;
    color: white;
}
span{
    float: right;
    font-size: 1.5em;
    margin-right: 5px;
}
#radio{
    margin-right: 5px;
    outline: none;
}
.chat{
    position: relative;
}
#text-box{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
}
#text-box::placeholder{
    color: hsl(206, 6%, 79%);
}
.fa-chevron-right{
    /* border: 2px solid black; */
    padding: 5px 9px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: hsl(271, 36%, 24%);
    color: white;
    cursor: pointer;
}
.container{
    text-align: center;
    margin: 30px 0;
}
h1{
    color: hsl(271, 36%, 24%);
    font-size: 2em;
    letter-spacing: .05em;
    margin: 20px 0;
}
.container p{
    color: hsl(270, 7%, 64%);
    line-height: 1.5em;
    padding: 0 20px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 30px;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    font-weight: bold;
}

/* For Tablets devices */
@media (min-width: 768px) {
    .background-accent{
        width: 45%;
        left: -50px;
        border-radius: 0 0 200px 200px;
    }
    h1{
        letter-spacing: 0;
    }
    .container p{
        line-height: 1.5em;
        padding: 0 80px;
    }
}

/* For Desktop devices */
@media (min-width: 1440px) {
    .background-accent{
        width: 25%;
        height: 75%;
        left: -50px;
        border-radius: 0 0 200px 200px;
    }
    #wrapper{
        width: 1000px;
        overflow: auto;
        clear: both;
        margin: 0 auto;
    }
    .iphone{
        float: left;
        margin: 0;
    }
    .container{
        overflow: auto;
        text-align: left;
        margin-left: 350px;
        padding: 130px 120px 0 30px;
    }
    .container p{
        padding: 0;
    }
}